*{
    margin: 0px;
    padding:0px ;
    box-sizing: border-box;
}
body{
    background-color: #f3f2ef;
}

ul{
    justify-content: space-around;
    background-color: white;
    width: 100vw;
    height: 55px;
}

.linkedin{
    font-size: 45px;
    color: #0a66c2;
    padding-top: 10px;
}
.icon{
    font-size: 25px;
    padding-top: 20px;
    color: #6c6c6c;
}
.home{
    font-size: 25px;
    padding-top: 20px;
    color: black;

}
/* nav css completed */
#border{
    
    margin-top: 0.7rem;
    width: 100vw;
    height: 55px;
    background-color: #a0b4b7;
}
#ember243 {
    justify-content: center;
    margin-left: 178px;
    margin-top: 1rem;
    border-radius: 50%;
    border: 2px solid white;
}

/* media query for photo  */
@media screen and (min-width: 426px) {
    #ember243 {
        display:block;
        margin-left: auto;
        margin-right: auto;
        
        border-radius: 50%;
        border: 2px solid white;
        
      } 
  }

#white_space{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 116px;
    background-color: #ffffff;
}















/* 


                <i class="fa-brands fa-linkedin"></i>
                 <i class="fa-solid fa-magnifying-glass"></i>
                 <i class="fa-solid fa-house-chimney"></i>
                <i class="fa-solid fa-user-group"></i>
                 <i class="fa-solid fa-briefcase"></i>
                <i class="fa-solid fa-ellipsis"></i>  */