*{
    margin: 0px;
    padding:0px ;
    box-sizing: border-box;
}
body{
    background-color: #f3f2ef;
}
.mainNav{
    background-color: white;
}
ul{
    justify-content: space-around;
    width: 100vw;
    height: 55px;
}

.linkedin{
    font-size: 45px;
    color: #0a66c2;
    padding-top: 10px;
}
.icon{
    font-size: 25px;
    padding-top: 20px;
    color: #6c6c6c;
}
.home{
    font-size: 25px;
    padding-top: 20px;
    color: black;

}
/* nav css completed */
#border{
    
    margin-top: 0.7rem;
    width: 100vw;
    height: 55px;
    background-color: #a0b4b7;
}
#ember243 {
    justify-content: center;
    margin-left: 178px;
    margin-top: 1rem;
    border-radius: 50%;
    border: 2px solid white;
}

/* media query for photo  */
@media screen and (min-width: 426px) {
    #ember243 {
        display:block;
        margin-left: auto;
        margin-right: auto;
        
        border-radius: 50%;
        border: 2px solid white;
        
      } 
  }

#white_space{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 116px;
    background-color: #ffffff;
    border: 1px solid #f0e9e9;
    font-family: 'Montserrat', sans-serif;

}
div#show_more{
    /* font-size: 10px; */
    display: flex;
    justify-content: center;
   margin-top: 15px;
   font-size: 1rem;
   color: #6f6e70;
   font-family: 'Montserrat', sans-serif;
}
.drop_down{
    width: 1.8rem;
    height: 1.6rem;
}

#start_post{

    width: 100vw;
    height: 140px;
    background-color: #ffffff;
    margin-top: 10px;

}
img#ember24 {
    margin-top: 26px;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: 20px;
}

#searchbutton {
        margin-top: 29px;
        width: 78vw;
        height: 11vh;
        border: 1ps solid #cacaca;
        border-radius: 169px;
        margin-left: 10px;
        padding: 20px;
        font-weight: 400;
}
#photos_icon{
    margin-top: 20px;
    display: flex;
    list-style: none;
}
.about_photo{
    margin-left: 10px;
    color: #838383;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.photos_icon{
    display: flex;
}

.hr{
    margin-top: 17px;
    width: 73%;
    height: 2px;
    /* background-color: #f1f0ee; */
    background-color: red;

}
div#sort_by>p{
    margin-top: 8px;
    
}
.top_icon{
    margin: 8px;
    font-size: 20px;
}

div#all_section{
    background-color: white;
}
img#ember682 {
    margin-left: 10px;
    margin-top: 10px;
}


.pepcoding {
    margin-left: 11px;
    margin-top: 7px;
}
div#lorem{
    margin: 10px;
}
img#ember495{
    margin-left: 10px;
    width: 400px;
    height: 400px;
   
}


/* for small phone */
@media only screen and (min-width: 200px) and  (max-width: 376px) {
    body{
        overflow-x:hidden ;
    }
    
div#all_section{
    background-color: white;
    margin-top: 5px;
}
    img#ember495{
        width: 345px;
        
       
    }
    #ember243 {
        justify-content: center;
        margin-left: 150px;
        margin-top: 1rem;
        border-radius: 50%;
        border: 2px solid white;
    }
    .hr {
        margin-top: 17px;
        width: 64%;
        height: 2px;
        /* background-color: #f1f0ee; */
        background-color: red;
    }
  }




div#like_comment{
    display: flex;
    margin-left: 18px;
    margin-top: 9px;
}

.fa-thumbs-up{
    color: blue;
}
.fa-heart{
    color: red;
}
.arrow_trend{
    margin-top: 20px;
    display: flex;
    list-style: none;
    font-size: 25px;
    
}
.abc{
   color:#666666 ;
}

@media only screen and (min-width:50px)  and (max-width:450px){
    #breakpoint{
        display: none;
        font-family: 'Montserrat', sans-serif;
font-family: 'Rubik', sans-serif;
        font-family: 'Shizuru', cursive;
    }
  
}



@media only screen and (min-width:450px) {
    div.Breakpoint{
        display: none;
    }
  
}








/* 


                <i class="fa-brands fa-linkedin"></i>
                 <i class="fa-solid fa-magnifying-glass"></i>
                 <i class="fa-solid fa-house-chimney"></i>
                <i class="fa-solid fa-user-group"></i>
                 <i class="fa-solid fa-briefcase"></i>
                <i class="fa-solid fa-ellipsis"></i>  */